<html>
<head>
<link type="text/css" rel="stylesheet" href="feeedback.css">
</head>
<body>
<div class="container">
  <form action="#">
<fieldset>
    <label for="fname">Employee Id</label>
    <input type="text" id="fname" name="empId" placeholder="Enter Id"><br>

    <label for="lname">Employee Name</label>
    <input type="text" id="lname" name="name" placeholder="Enter Name"><br>
<label for="lname">Training Name</label>
    <input type="text" id="lname" name="trainingname" placeholder="Enter Training Name.."><br>

    

    <label for="subject">Comments</label>
    <textarea id="subject" name="comments" placeholder="Write Comments.." style="height:200px"></textarea><br>

    <input type="submit" value="Submit">
</fieldset>
  </form>
</div>


</body>



</html>
