<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="../scripts/login.js"></script>
<link type="text/css" rel="stylesheet" href="login.css">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>
<div class="image">

<div id="id1">
		
<form onsubmit="return false">
<div id="id2">
<fieldset>

<legend>LOGIN</legend>

<input type="text" id="emailId" placeholder="Enter email address">
<input type="password" id="password" placeholder="Enter password">


<input type="submit" value="Submit">
<input type="reset" value="Cancel">
<div class="my-class">
<a href="#">New User?</a>
</div>
</fieldset>
</div>

</form>
</div>
</div>
</body>
</html>
