<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="../scripts/login.js"></script>
<link type="text/css" rel="stylesheet" href="register.css">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<body>
<div id="id1">		
<form onsubmit="return false">
<div id="id2">
<fieldset>

<legend>REGISTER</legend>

<input type="text" name="empId" placeholder="Enter Emplyoee Id">
<input type="text" name="name" placeholder="Enter FullName">
<select id="role" >

<option>Admin</option>
<option>Project Management</option>
<option>Employee</option>
</select>
<input type="text" name="emailId" placeholder="Enter Email Id"><br>

<input type="password" id="password" placeholder="Enter Password"><br>
 <input type="number" name="phoneNo" placeholder="Enter Mobile Number"><br>  

<input type="submit" value="Submit">
<input type="reset" value="Cancel">
</fieldset>
</div>
</form>
</div>

</body>
</html>
