.header{
	width:100%;
	background-color:lightblue;
	height:100px;
	display:black;
	
}
.header figure .logo{
	width:20%;
	float:left;
	height:100px;
	
	
}
table{
	width:40%;
	margin-left:20%;
}

tr:nth-child(2n+1){
	background-color:navy;
	color:white;
}