

 form{
 margin-left:100px;
	/* width:50%;
	height:100px; */
	
}
 fieldset{
	width:300px;
	background-color:lightgray;
}
.scheduletraining label{
	float:left;
	width:100px;
	
}
input[type=text] , .text{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius:10px;
}

input[type=date] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius:10px;
}




