
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!--  <servlet>
  	<servlet-name>AdminScheduleTrainingServlet</servlet-name>
  	<display-name>AdminScheduleTrainingServlet</display-name>
  	<description></description>
  	<servlet-class>com.virtusa.samtmproject.controllers.AdminScheduleTrainingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminScheduleTrainingServlet</servlet-name>
  	<url-pattern>/AdminScheduleTrainingServlet</url-pattern>
  </servlet-mapping>-->
</web-app>

